<div class="md-footer-acknowledgements">
  <a target="_blank" href="https://gwcenter.icrr.u-tokyo.ac.jp/" title="KAGRA homepage">
    <img src="{{ 'assets/images/kagra.png'|url }}" alt="KAGRA logo">
  </a>
  <a target="_blank" href="https://www.ligo.caltech.edu/" title="LIGO Lab homepage">
    <img src="{{ 'assets/images/ligo.png'|url }}" alt="LIGO logo">
  </a>
  <a target="_blank" href="https://ligo.org" title="LSC homepage">
    <img src="{{ 'assets/images/lsc.png'|url }}" alt="LSC logo">
  </a>
  <a target="_blank" href="https://www.ego-gw.it/" title="EGO homepage">
    <img src="{{ 'assets/images/virgo.png'|url }}" alt="Virgo logo">
  </a>
</div>
